Repository KoDongDanGyeol/challenge-with-me-be, pull requests merged in 2024-02, with the labels that each got.

#16 Feature/setting ide/14-15
  build.gradle
  src/main/java/com/example/challengewithmebe/ide/controller/IdeController.java
  src/main/java/com/example/challengewithmebe/ide/model/RunResult.java
  src/main/java/com/example/challengewithmebe/ide/model/RunResultDto.java
  src/main/java/com/example/challengewithmebe/ide/model/SubmitResult.java
  src/main/java/com/example/challengewithmebe/ide/model/SubmitResultDto.java
  src/main/java/com/example/challengewithmebe/ide/util/CompileBuilder.java
  src/main/java/com/example/challengewithmebe/problem/domain/Problem.java
  src/main/java/com/example/challengewithmebe/problem/domain/Testcase.java
  src/main/java/com/example/challengewithmebe/problem/repository/TestcaseRepository.java
  src/main/java/com/example/challengewithmebe/problem/service/TestcaseService.java
Labels: Domain/챌린지IDE, Function/MVP

#17 Feature/solution/13
  src/main/java/com/example/challengewithmebe/solution/controller/SolutionController.java
  src/main/java/com/example/challengewithmebe/solution/dto/SolutionDTO.java
  src/main/java/com/example/challengewithmebe/solution/repository/SolutionRepository.java
  src/main/java/com/example/challengewithmebe/solution/service/SolutionService.java
  src/main/java/com/example/challengewithmebe/submit/domain/Submit.java
Labels: Domain/챌린지풀이, Function/MVP

#22 Refactor: testcase response 변경
  src/main/java/com/example/challengewithmebe/ide/model/ParamDto.java
  src/main/java/com/example/challengewithmebe/ide/model/TestcaseDto.java
  src/main/java/com/example/challengewithmebe/problem/service/TestcaseService.java
Labels: Domain/챌린지IDE

#26 Feature : 구글로그인구현 #23
  build.gradle
  src/main/java/com/example/challengewithmebe/ChallengeWithMeBeApplication.java
  src/main/java/com/example/challengewithmebe/global/app/AppConfig.java
  src/main/java/com/example/challengewithmebe/global/app/domain/BaseEntity.java
  src/main/java/com/example/challengewithmebe/global/redis/RedisConfig.java
  src/main/java/com/example/challengewithmebe/global/security/SecurityConfig.java
  src/main/java/com/example/challengewithmebe/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/example/challengewithmebe/global/security/jwt/JwtProvider.java
  src/main/java/com/example/challengewithmebe/global/security/userdetails/CustomUserDetailService.java
  src/main/java/com/example/challengewithmebe/global/security/userdetails/CustomUserDetails.java
  src/main/java/com/example/challengewithmebe/login/OAuthRequestFactory.java
  src/main/java/com/example/challengewithmebe/login/controller/OAuthController.java
  src/main/java/com/example/challengewithmebe/login/dto/OAuthProfile.java
  src/main/java/com/example/challengewithmebe/login/dto/google/GoogleInfo.java
  src/main/java/com/example/challengewithmebe/login/dto/google/GoogleProfile.java
  src/main/java/com/example/challengewithmebe/login/dto/request/OAuthRequest.java
  src/main/java/com/example/challengewithmebe/login/dto/response/LoginResponse.java
  src/main/java/com/example/challengewithmebe/login/dto/response/OAuthCodeResponse.java
  src/main/java/com/example/challengewithmebe/login/service/LoginService.java
  src/main/java/com/example/challengewithmebe/login/service/ProviderService.java
  src/main/java/com/example/challengewithmebe/member/domain/Member.java
  src/main/java/com/example/challengewithmebe/member/domain/type/Role.java
  src/main/java/com/example/challengewithmebe/member/repository/MemberRepository.java
  src/main/java/com/example/challengewithmebe/problem/domain/Problem.java
  src/main/java/com/example/challengewithmebe/problem/repository/TestcaseRepository.java
  src/main/java/com/example/challengewithmebe/problem/service/TestcaseService.java
  src/main/java/com/example/challengewithmebe/submit/domain/Submit.java
  src/main/java/com/example/challengewithmebe/user/domain/Member.java
  src/main/resources/application-common.yml
  src/main/resources/application.properties
Labels: Domain/회원정보, Function/MVP

#28 Feature : 채팅 구현 #24
  Dockerfile
  build.gradle
  database/Dockerfile
  docker-compose.yml
  redis/Dockerfile
  src/main/java/com/example/challengewithmebe/chat/controller/ChatController.java
  src/main/java/com/example/challengewithmebe/chat/dto/MessageDTO.java
  src/main/java/com/example/challengewithmebe/chat/dto/request/PromptDTO.java
  src/main/java/com/example/challengewithmebe/chat/dto/response/gpt/Choice.java
  src/main/java/com/example/challengewithmebe/chat/dto/response/gpt/GPTResponse.java
  src/main/java/com/example/challengewithmebe/chat/dto/response/gpt/Usage.java
  src/main/java/com/example/challengewithmebe/chat/service/ChatService.java
  src/main/resources/application-common.yml
  src/main/resources/application-prod.yml
Labels: Domain/채팅, Function/MVP

#33 Feature/add qna/8
  src/main/java/com/example/challengewithmebe/qna/controller/AnswerController.java
  src/main/java/com/example/challengewithmebe/qna/controller/QuestionController.java
  src/main/java/com/example/challengewithmebe/qna/domain/Answer.java
  src/main/java/com/example/challengewithmebe/qna/domain/Question.java
  src/main/java/com/example/challengewithmebe/qna/dto/AnswerDTO.java
  src/main/java/com/example/challengewithmebe/qna/dto/QuestionDTO.java
  src/main/java/com/example/challengewithmebe/qna/dto/QuestionPreviewDTO.java
  src/main/java/com/example/challengewithmebe/qna/repository/AnswerRepository.java
  src/main/java/com/example/challengewithmebe/qna/repository/QuestionRepository.java
  src/main/java/com/example/challengewithmebe/qna/service/QnAService.java
Labels: Domain/Q&A+댓글, Function/P0, Status/High

#43 Feature : 회원 기능 구현 + 채팅 기능 구현 + 에러코드 추가 #37 #38 #39
  build.gradle
  src/main/java/com/example/challengewithmebe/chat/controller/ChatController.java
  src/main/java/com/example/challengewithmebe/chat/domain/Chat.java
  src/main/java/com/example/challengewithmebe/chat/domain/ChatRoom.java
  src/main/java/com/example/challengewithmebe/chat/dto/request/ChatRequest.java
  src/main/java/com/example/challengewithmebe/chat/dto/response/ChatResponse.java
  src/main/java/com/example/challengewithmebe/chat/dto/response/RoomId.java
  src/main/java/com/example/challengewithmebe/chat/repository/ChatRepository.java
  src/main/java/com/example/challengewithmebe/chat/repository/ChatRoomRepository.java
  src/main/java/com/example/challengewithmebe/chat/service/ChatService.java
  src/main/java/com/example/challengewithmebe/global/app/MessageConfig.java
  src/main/java/com/example/challengewithmebe/global/exception/ResponseService.java
  src/main/java/com/example/challengewithmebe/global/exception/auth/AuthExceptionAdvice.java
  src/main/java/com/example/challengewithmebe/global/exception/auth/NotValidTokenException.java
  src/main/java/com/example/challengewithmebe/global/exception/dto/FailResult.java
  src/main/java/com/example/challengewithmebe/global/exception/dto/ValidFailResult.java
  src/main/java/com/example/challengewithmebe/global/exception/global/BadRequestException.java
  src/main/java/com/example/challengewithmebe/global/exception/global/UnknownException.java
  src/main/java/com/example/challengewithmebe/global/exception/global/advice/GlobalExceptionAdvice.java
  src/main/java/com/example/challengewithmebe/global/exception/notExist/NotExistAnswerException.java
  src/main/java/com/example/challengewithmebe/global/exception/notExist/NotExistChallengeException.java
  src/main/java/com/example/challengewithmebe/global/exception/notExist/NotExistChatRoomException.java
  src/main/java/com/example/challengewithmebe/global/exception/notExist/NotExistCommentException.java
  src/main/java/com/example/challengewithmebe/global/exception/notExist/NotExistMemberException.java
  src/main/java/com/example/challengewithmebe/global/exception/notExist/NotExistQuestionException.java
  src/main/java/com/example/challengewithmebe/global/exception/notExist/NotExistSubmitException.java
  src/main/java/com/example/challengewithmebe/global/exception/notExist/NotExsitExceptionAdvice.java
  src/main/java/com/example/challengewithmebe/global/exception/openai/AiBehaviorErrorException.java
  src/main/java/com/example/challengewithmebe/global/exception/openai/AiBehaviorErrorExceptionAdvice.java
  src/main/java/com/example/challengewithmebe/global/exception/valid/ValidationExceptionAdvice.java
  src/main/java/com/example/challengewithmebe/global/security/jwt/JwtAuthenticationFilter.java
  src/main/java/com/example/challengewithmebe/global/security/jwt/JwtProvider.java
  src/main/java/com/example/challengewithmebe/global/security/userdetails/CustomUserDetailService.java
  src/main/java/com/example/challengewithmebe/login/service/ProviderService.java
  src/main/java/com/example/challengewithmebe/member/controller/MemberController.java
  src/main/java/com/example/challengewithmebe/member/domain/Member.java
  src/main/java/com/example/challengewithmebe/member/dto/MemberDTO.java
  src/main/java/com/example/challengewithmebe/member/dto/request/EditName.java
  src/main/java/com/example/challengewithmebe/member/repository/MemberRepository.java
  src/main/java/com/example/challengewithmebe/member/service/MemberService.java
  src/main/java/com/example/challengewithmebe/solution/repository/SolutionRepository.java
  src/main/resources/application.yml
  src/main/resources/i18n/exception_ko.yml
Labels: Domain/회원정보, Domain/채팅, Function/MVP, Status/High

#44 Feature/settings/36
  docker-compose.yml
  src/main/resources/application-prod.yml
Labels: Status/High

#48 Feature : 회원 조회 수정 탈퇴 수정 #47
  src/main/java/com/example/challengewithmebe/global/security/SecurityConfig.java
  src/main/java/com/example/challengewithmebe/login/controller/OAuthController.java
  src/main/java/com/example/challengewithmebe/member/dto/MemberDTO.java
  src/main/java/com/example/challengewithmebe/member/service/MemberService.java
  src/main/java/com/example/challengewithmebe/qna/domain/Answer.java
  src/main/java/com/example/challengewithmebe/qna/domain/Question.java
Labels: Domain/회원정보, Function/MVP

#50 Feature/qn a member/46
  src/main/java/com/example/challengewithmebe/global/exception/auth/AuthExceptionAdvice.java
  src/main/java/com/example/challengewithmebe/global/exception/auth/OwnerOnlyOperationException.java
  src/main/java/com/example/challengewithmebe/qna/controller/AnswerController.java
  src/main/java/com/example/challengewithmebe/qna/controller/QuestionController.java
  src/main/java/com/example/challengewithmebe/qna/repository/QuestionRepository.java
  src/main/java/com/example/challengewithmebe/qna/service/QnAService.java
  src/main/java/com/example/challengewithmebe/solution/controller/SolutionController.java
  src/main/java/com/example/challengewithmebe/solution/service/SolutionService.java
  src/main/resources/i18n/exception_ko.yml
Labels: Domain/챌린지풀이, Domain/Q&A+댓글, Function/MVP

#52 Feature : 질문에 문제 제목도 나타나도록 수정
  src/main/java/com/example/challengewithmebe/problem/repository/ProblemRepository.java
  src/main/java/com/example/challengewithmebe/qna/domain/Question.java
  src/main/java/com/example/challengewithmebe/qna/dto/QuestionDTO.java
  src/main/java/com/example/challengewithmebe/qna/dto/QuestionPreviewDTO.java
  src/main/java/com/example/challengewithmebe/qna/repository/QuestionRepository.java
  src/main/java/com/example/challengewithmebe/qna/service/QnAService.java
Labels: Domain/Q&A+댓글, Function/P0, Status/High

#63 Feature : 로그인 확인하는 기능 추가
  src/main/java/com/example/challengewithmebe/global/exception/auth/AuthExceptionAdvice.java
  src/main/java/com/example/challengewithmebe/global/exception/auth/MustBeLoggedInException.java
  src/main/java/com/example/challengewithmebe/global/security/jwt/JwtProvider.java
  src/main/java/com/example/challengewithmebe/qna/controller/AnswerController.java
  src/main/java/com/example/challengewithmebe/qna/controller/QuestionController.java
  src/main/java/com/example/challengewithmebe/solution/controller/SolutionController.java
  src/main/resources/i18n/exception_ko.yml
Labels: Domain/Q&A+댓글, Function/P0, Status/High

#68 Feature/문제 목록 조회/34
  src/main/java/com/example/challengewithmebe/global/app/domain/BaseEntity.java
  src/main/java/com/example/challengewithmebe/problem/domain/Problem.java
  src/main/java/com/example/challengewithmebe/problem/domain/Statistics.java
  src/main/java/com/example/challengewithmebe/problem/model/ProblemListDto.java
  src/main/java/com/example/challengewithmebe/problem/model/ProblemListInfo.java
  src/main/java/com/example/challengewithmebe/problem/repository/ProblemRepository.java
  src/main/java/com/example/challengewithmebe/problem/repository/StatisticsRepository.java
  src/main/java/com/example/challengewithmebe/problem/service/ChallengesService.java
  src/main/java/com/example/challengewithmebe/submit/domain/Submit.java
  src/main/java/com/example/challengewithmebe/submit/repository/SubmitRepository.java
Labels: Domain/챌린지문제, Function/MVP

#70 Feature/문제 상세 조회/58
  src/main/java/com/example/challengewithmebe/problem/controller/ChallengesController.java
  src/main/java/com/example/challengewithmebe/problem/domain/Testcase.java
  src/main/java/com/example/challengewithmebe/problem/model/ProblemDto.java
  src/main/java/com/example/challengewithmebe/problem/model/TestCaseValues.java
  src/main/java/com/example/challengewithmebe/problem/model/TestcaseInfo.java
  src/main/java/com/example/challengewithmebe/problem/model/TestcaseTypes.java
  src/main/java/com/example/challengewithmebe/problem/repository/TestcaseRepository.java
Labels: Domain/챌린지문제, Function/MVP
